/*==============================================================
# Header
==============================================================*/

.header {
    display: table;
    height: 80px;
    width: 100%;
    text-align: center;
	i {
		display: table-cell;
		height: 40px;
		width: 100%;
		vertical-align: middle;
		svg {
			display: inline-block;
			height: 100%;
			width: 100%;
		}
	}
}